@model FitnessStudioApp.CustomerAccount

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CustomerAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerID" />
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPhone" class="control-label"></label>
                <input asp-for="CustomerPhone" class="form-control" />
                <span asp-validation-for="CustomerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateofBirth" class="control-label"></label>
                <input asp-for="DateofBirth" class="form-control" />
                <span asp-validation-for="DateofBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassTitle" class="control-label"></label>
                <select asp-for="ClassTitle" class="form-control"></select>
                <span asp-validation-for="ClassTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfClassPass" class="control-label"></label>
                <select asp-for="TypeOfClassPass" class="form-control"></select>
                <span asp-validation-for="TypeOfClassPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfMembership" class="control-label"></label>
                <select asp-for="TypeOfMembership" class="form-control"></select>
                <span asp-validation-for="TypeOfMembership" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembershipExpires" class="control-label"></label>
                <input asp-for="MembershipExpires" class="form-control" />
                <span asp-validation-for="MembershipExpires" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerSince" class="control-label"></label>
                <input asp-for="CustomerSince" class="form-control" />
                <span asp-validation-for="CustomerSince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
